.hero-container {
    height: 780px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/Giant-Panda.jpg);
}

.hero-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.hero-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 500px;
    padding-bottom: 100px;
    padding-top: 4px;
}

.hero__title {
    width: 600px;
    height: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

.hero__circle {
    content: '';
    position: absolute;
    top: -69px;
    left: -74px;
    width: 465px;
    height: 465px;
    background: var(--orange-gr);
    border-radius: 50%;
    z-index: 1;
}

.hero__title_accent {
    color: var(--yellow);
}

.hero__button {
    text-align: center;
}

.backstage {
    padding: 139px 0 90px 0;
    background-image: url(./assets/images/flower_foto1.png);
    background-position: center right -40px;
    background-repeat: no-repeat;
}

.backstage-block {
    display: flex;
    align-items: center;
    gap: 85px;
}

.backstage-block__image {
    min-width: 609px;
    height: 403px;
    background-image: url(./assets/images/bamboo-cap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backstage-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.backstage-group .subtitle {
    display: block;
    margin-top: 34px;
    margin-bottom: 13px;
}


.animals_cards {
    padding: 88px 0 100px 0;
    background: url(./assets/images/strelitzia.png) right -41px bottom,
        url(./assets/images/palm_foto.png) left -41px bottom;
    background-repeat: no-repeat
}

.animals-gallery {
    overflow: hidden;
}

.animals-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.animals-block__buttons {
    position: absolute;
    top: 402px;
    left: -81px;
    display: flex;
    justify-content: space-between;
    width: 1322px;
}

.animals-block__right-btn,
.animals-block__left-btn {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 62px;
    border: none;
    width: 62px;
}

.animals-block__right-btn {
    background-image: url(./assets/icons/arrow-right.svg), var(--orange-gr);
}

.animals-block__left-btn {
    background-image: url(./assets/icons/arrow-left.svg), var(--orange-gr);
}

.animals-block__right-btn:hover {
    background-image: url(./assets/icons/arrow-right.svg), var(--dark-orange-gr);
    transform: scale(1.05);
}

.animals-block__left-btn:hover {
    background-image: url(./assets/icons/arrow-left.svg), var(--dark-orange-gr);
    transform: scale(1.05);
}

.animals-block__right-btn:active {
    background-image: url(./assets/icons/arrow-right.svg), var(--green);
    transform: scale(1.1);
}

.animals-block__left-btn:active {
    background-image: url(./assets/icons/arrow-left.svg), var(--green);
    transform: scale(1.1);
}

.animals-block__right-btn:disabled {
    background-image: url(./assets/icons/arrow-right.svg), var(--gray);
    transform: scale(0.8);
}

.animals-block__left-btn:disabled {
    background-image: url(./assets/icons/arrow-left.svg), var(--gray);
    transform: scale(0.8);
}

.animals-block__left-btn .animals-gallery {
    overflow: hidden;
}

.cards-block {
    position: relative;
    left: -1189px;
    display: flex;
    gap: 30px;
    width: 3537px;
    transition: 1s;
}

.slider-left,
.slider-right,
.slider-center {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    width: 1159px;
}

.animal-card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    background-color: #FFFFFF;
    border: 1px solid var(--orange);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.animal-card:hover:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 5);
    z-index: 200;
    opacity: 0;
}

.animal-card:hover::before {
    opacity: 0.5;
}

.animal-img {
    width: 100%;
    height: 368px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    transition: 0.5s;
}

.animal-img:hover {
    background-size: 110%;
}

.animal-1 {
    background-image: url(./assets/images/photo-card1.jpg);
}

.animal-2 {
    background-image: url(./assets/images/photo-card2.jpg);
}

.animal-3 {
    background-image: url(./assets/images/photo-card3.jpg);
}

.animal-4 {
    background-image: url(./assets/images/photo-card4.jpg);
}

.animal-5 {
    background-image: url(./assets/images/photo-card5.jpg);
}

.animal-6 {
    background-image: url(./assets/images/photo-card6.jpg);
}

.animal-card-group {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 8px 6px 15px;
    transition: 0.5s;
}

.animal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animal {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.habitat {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.food-logo {
    width: 48px;
    height: 38px;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 0.3s;
}

.predator {
    background-image: url(./assets/icons/meet-fish_icon.svg);
    margin-top: -6px;
    z-index: 1;
}

.herbivore {
    background-image: url(./assets/icons/banana-bamboo_icon.svg);
    z-index: 1;
}

.choose-btn,
.pick-and-feed_btn {
    align-self: center;
    text-align: center;
}


.card:after {
    content: '';
    transform: scale(0);
    transform-origin: bottom left;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: -40%;
    z-index: 0;
    transition: all ease-in-out 0.5s;
}

.card:after {
    background: var(--orange-gr);
    width: 200%;
    height: 200%;
    z-index: 200;
}


.card:hover:after {
    transform: scale(1);
}

.card:hover .animal-card-group {
    top: -70px;
    z-index: 500;
    transition: 0.7s;
    font-size: 180%;
    color: var(--white);
}

.card:hover .food-logo {
    opacity: 0;
}

.pick-and-feed {
    padding: 69px 0 100px 0;
    background: var(--light-orange_gr);
}

.pick-and-feed-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 41px 0 59px 0;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick-and-feed-block h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.pick-and-feed-title {
    text-align: center;
    color: var(--orange);
}

.pick-and-feed-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 99px;
    line-height: 130%;
}

.pick-and-feed-group a {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 7px;
}

.pick-and-feed-group h4 {
    margin-bottom: 30px;
}

.pick-and-feed-accent {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.pick-and-feed-widjets {
    position: relative;
    display: flex;
    justify-content: center;
}

.pick-and-feed-widjet {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 168px;
    margin-bottom: 30px;
}

.pick-and-feed-icon {
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.pick-and-feed-icon1 {
    background-image: url(./assets/icons/pay.svg);
}

.outline-arrow {
    width: 130px;
    background: url(./assets/icons/outline-arrow.svg);
    background-position: top 60px center;
    background-repeat: no-repeat;
}

.pick-and-feed-icon2 {
    background-image: url(./assets/icons/zoo.svg);
}

.pick-and-feed-3-icon3 {
    background-image: url(./assets/icons/monkey.svg);
}

.pick-and-feed_btn {
    padding-top: 14px;
}

.testimonials {
    padding: 140px 0 180px 0;
    background-image: url(./assets/images/leaf_foto.png);
    background-position: right -40px bottom -134px;
    background-repeat: no-repeat;
}

.testimonials-block {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.testimonials-block h3 {
    margin-top: 0;
    margin-bottom: 26px;
}

.testimonials-slider {
    overflow: hidden;
    position: relative;
    height: 390px;
    padding: 1px;
}

.testimonials-cards {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 29px;
    transition: 0.5s;
}

.testimonial-card__frame {
    display: flex;
    padding: 2px;
    background: var(--pink_gr);
    border-radius: 20px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 264px;
    height: 386px;
    padding: 14px 13px 19px 15px;
    background-color: var(--light_gray);
    border-radius: 20px;
}

.testimonial-card-visitor {
    display: flex;
    gap: 10px;
}

.testimonial-card-img {
    width: 37px;
    height: 37px;
    background-image: url(./assets/icons/visitor_icon1.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-card-name {
    line-height: 120%;
    color: #000000;
}

.testimonial-card-data {
    display: flex;
    gap: 6px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--smoky_gray);
}

.testimonial-card-img2 {
    background-image: url(./assets/icons/visitor_icon2.svg);
}

.testimonial-card-img3 {
    background-image: url(./assets/icons/visitor_icon3.svg);
}

.testimonial-card-img4 {
    background-image: url(./assets/icons/visitor_icon4.svg);
}

.testimonial-card-message {
    overflow: hidden;
    max-height: 308px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--gray);
}

.testimonials-line_scroll {
    position: relative;
    align-self: center;
    width: 599px;
    height: 6px;
    margin-bottom: 8px;
}

.testimonials-line_scroll::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    background: var(--pink_gr);
    border-radius: 5px;
}

input[type=range] {
    width: 599px;
    height: 8px;
    background-color: var(--light_gray);
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 20%;
    height: 6px;
    background: var(--orange);
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--dark-orange-gr);
}

input[type="range"]:active::-webkit-slider-thumb {
    background: var(--green);
}

input[type="range"]::-webkit-slider-thumb:active {
    background: var(--green)
}


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}

.testimonials-feedback_btn {
    border-radius: 5px;
}

@media (max-width: 1599px) {
    .backstage {
        background-image: none;
    }
}

@media (max-width: 1440px) {
    .hero-container {
        height: 584px;
    }

    .hero-group {
        gap: 40px;
        width: 511px;
        padding-bottom: 47px;
    }

    .hero__circle {
        top: -54px;
        left: -3px;
        width: 367px;
        height: 367px;
    }

    .hero__title {
        width: 400px;
        height: 320px;
        font-size: 85px;
    }

    .backstage {
        padding: 100px 0 90px 0;
    }

    .backstage-block {
        display: flex;
        align-items: center;
        gap: 31px;
    }

    .backstage-block__image {
        min-width: 455px;
        height: 408px;
    }

    .animals_cards {
        padding: 51px 0 140px 0;
        background: url(./assets/images/palm_foto-M.png) left bottom no-repeat,
            url(./assets/images/strelitzia_M.png) right bottom no-repeat;
    }

    .cards-block {
        position: relative;
        left: -970px;
        display: flex;
        gap: 30px;
        width: 2880px;
        transition: 1s;
    }

    .slider-left,
    .slider-center,
    .slider-right {
        display: flex;
        flex-wrap: wrap;
        gap: 92px 30px;
        width: 940px;
    }

    .animals-block__buttons {
        z-index: 200;
        top: 369px;
        left: 323px;
        display: flex;
        justify-content: space-between;
        width: 295px;
    }

    .animal-card {
        width: 293px;
        height: 354px;
    }

    .animal-img {
        height: 293px;
    }

    .pick-and-feed {
        padding: 30px 0 50px 0;
    }

    .pick-and-feed-block {
        gap: 20px;
        padding: 30px 0 50px 0;
    }

    .pick-and-feed-group {
        gap: 10px;
        margin-bottom: 22px;
        padding-left: 49px;
    }

    .pick-and-feed-group h4 {
        margin-bottom: 10px;
    }

    .pick-and-feed-group p {
        padding-right: 78px;
    }

    .pick-and-feed-block h3 {
        margin-bottom: 20px;
    }

    .pick-and-feed_btn {
        margin-top: 20px;
    }

    .testimonials {
        padding: 99px 0 140px 0;
        background-image: url(./assets/images/leav_foto-M.png);
        background-position: right bottom -86px;
    }

    .testimonials-block h3 {
        margin-bottom: 7px;
    }

    .testimonials-cards {
        gap: 31px;
        width: 1907px;
    }

    .testimonial-card {
        width: 288px;
        height: 386px;
    }

    .testimonial-card-message {
        max-height: 290px;
        padding-right: 10px;
    }

    .testimonials-line_scroll {
        margin-bottom: 30px;
        margin-right: 10px;
    }

    input[type=range] {
        width: 390px;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 19%;
    }

    .footer-email-block {
        width: 40%;
        margin-right: 33px;
    }

    .footer__nav {
        margin-right: 27px;
    }

    @media (max-width: 980px) {
        .hero-container {
            height: 373px;
        }

        .hero-block {
            padding-top: 80px;
        }

        .hero-group {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 40px;
        }

        .hero__title {
            width: 255.64px;
            height: 204.38px;
            font-size: 54.2894px;
            margin-right: -3px;
        }

        .hero__circle {
            top: -39px;
            left: 311px;
            width: 237.6px;
            height: 237.6px;
        }

        .hero__button {
            margin-top: -8px;
            align-self: flex-start;
        }
    }

    .backstage {
        padding: 60px 0 36px 0;
        background-image: url(./assets/images/flower_foto1.png);
        background-position: right -5px;
    }

    .backstage-block__image {
        display: none;
    }

    .backstage-group {
        padding-right: 110px;
    }

    .backstage-group h2 {
        margin-left: 4px;
    }

    .backstage-group .subtitle {
        margin: 9px 0px 0px 4px;
    }

    .animals_cards {
        padding: 42px 0 100px 0;
        background: url(./assets/images/palm_foto_tablet.png) left bottom no-repeat,
            url(./assets/images/strelitzia_tablet.png) right bottom no-repeat;
    }

    .animals-block {
        gap: 59px;
    }

    .animals-gallery {
        position: relative;
        display: flex;
        gap: 30px;
        width: 640px;
        transition: 1s;
    }
}