:root {
    --green: #4B9200;
    --orange: #FE9013;
    --yellow: #FFEE2E;
    --black_blue: #333B41;
    --white: #FDFDFF;
    --gray: #767474;
    --smoky_gray: #ABABAB;
    --light_gray: #F1F3F2;
    --dark-orange-gr: linear-gradient(113.96deg, #E47209, #E47209 101.44%);
    --orange-gr: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --light-orange_gr: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink_gr: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --red: #D31414;
}

body,
html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black_blue);
    scroll-behavior: smooth;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Bold.ttf") format("ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Medium.ttf") format("ttf");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Light.ttf") format("ttf");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Thin.ttf") format("ttf");
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}


.container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    z-index: 500;
    height: 76px;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: -80px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-tablet,
.logo-footer,
.logo-mobile {
    display: none;
}

.logo-desktop {
    width: 82px;
    height: 52px;
}

.logo-burger {
    display: none;
    width: 47px;
    height: 29px;
    background-image: url(../icons/logo_tablet.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    pointer-events: all;
    transition: 0.3s;
}

.burger {
    display: none;
    width: 24px;
    height: 22px;
    background-image: url(../icons/burger_menu.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #000000;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.burger:hover {
    transform: scale(1.2);
}

.burger:active {
    transform: scale(1);
}

.burger-open {
    left: 0;
}

.page-fade {
    position: fixed;
    z-index: 300;
    top: 34px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.header__block {
    display: flex;
    gap: 62px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding-bottom: 6px;
}

.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: flex-start;
}

.nav__item:not(:last-child) {
    margin-right: 59px;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 7px;
}

.burger {
    display: none;
    width: 24px;
    height: 22px;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.current-page {
    text-decoration: none;
    color: var(--orange);
    user-select: none;
}


.designed {
    padding-left: 436px;
    padding-bottom: 4px;
}

.button {
    width: 296px;
    height: 54px;
    padding: 0px 0 2px 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: var(--orange-gr);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background: var(--dark-orange-gr);
    transform: scale(1.05);
}

.footer {
    padding: 40px 0 50px 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

.footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFFFFF;
}

.footer-donate-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 65px;
}

.footer-donate_btn {
    border-radius: 5px;
}

.footer-email-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    gap: 14px;
}

.footer-email-block h4 {
    padding-right: 130px;
}

.footer-subscribe-form {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-email {
    padding: 10px 7px 10px 10px;
    width: 228px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--light_gray);
    background-color: transparent;
    border: 0.7px solid var(--orange);
    border-radius: 2px;
}

input:focus {
    outline: none;
}

form:invalid input:focus {
    color: var(--red);
}

form:valid input:focus {
    color: var(--green);
}

input:default {
    border: 0.8px solid var(--orange);
    ;
}

input:focus:invalid {
    border: 0.8px solid var(--red);
}

input:focus:valid {
    border: 0.8px solid var(--green);
}

form:invalid .footer-email_btn {
    border: 1px solid var(--red);
    color: var(--red);
}

form:valid .footer-email_btn {
    border: 1px solid var(--black_blue);
    color: var(--black_blue);
}

form:valid .footer-email_btn:active {
    transform: scale(1);
    color: var(--green);
    border: 1px solid var(--green);
}

.footer-email_btn {
    width: 129px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background: var(--light_gray);
    border-radius: 5px;
    cursor: pointer;
}

.footer-email_btn:hover {
    transform: scale(1.05);
}

.footer_email_button:active {
    color: var(--green);
    border: 1px solid var(--green);
    transform: scale(1);
}

.footer-socials-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 228px;
    padding-top: 44px;
}

.footer-socials a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.socials-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gray);
}

.footer-socials:hover {
    color: var(--orange);
}

.footer-socials:active {
    color: var(--green);
}

.footer-socials:hover .socials-icon {
    background-color: var(--orange);
    transform: scale(1.1);
}

.footer-socials:active .socials-icon {
    background-color: var(--green);
    transform: scale(1);
}

.facebook-icon {
    background-image: url(../icons/facebook-icon.svg);
}


.twitter-icon {
    background-image: url(../icons/twitter-icon.svg);
}

.instagram-icon {
    background-image: url(../icons/instagram-icon.svg);
}

.youtube-icon {
    background-image: url(../icons/youtube-icon.svg);
}

.footer__nav {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;
    gap: 58px;
    width: 38%;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-designed-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: start;
    gap: 10px;
    font-weight: 100;
    line-height: 140%;
    text-underline-offset: 7px;
}

.footer-designed-block:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.footer-designed-block:active {
    color: var(--green);
    text-decoration-color: var(--green);
    text-decoration: underline;
}

.footer__nav {
    justify-content: center;
    align-items: flex-end;
    gap: 58px;
    width: 42%;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-donate_btn {
    padding-top: 14px;
}

@media (max-width: 1440px) {

    .logo-tablet,
    .logo-footer,
    .logo-mobile {
        display: none;
    }

    .container {
        width: 940px;
    }

    .nav__item:not(:last-child) {
        margin-right: 48px;
    }

    .designed {
        padding-left: 260px;
    }
}

@media (max-width: 980px) {

    .container {
        width: 600px;
    }

    .header {
        position: fixed;
        width: 100%;
        height: 34px;
    }

    .logo-desktop {
        display: none;
    }

    .logo-tablet {
        display: block;
        width: 47px;
        height: 29px;
    }

    .logo_and_menu {
        position: absolute;
        flex-direction: column;
        gap: 15px;
        top: 34px;
        left: 100%;
        width: 100%;
        padding: 10px 0 40px 10px;
        color: #333B41;
        background-color: #FFFFFF;
        box-shadow: 5px 2px 5px 0 grey;
        transition: 0.3s;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
        max-width: 640px;
    }

    .nav-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .designed {
        padding-left: 0;
    }

    .burger {
        display: block;
        margin-left: 466px;
    }

    .logo-burger {
        display: block;
    }

    .footer {
        padding: 12px 0 12px 0;
    }

    .footer-block {
        gap: 43px 0;
    }

    .footer-logo-and-donate-box {
        gap: 31px;
    }

    .footer-email-block,
    .social-title {
        display: none;
    }

    .footer-socials-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        width: 228px;
        padding-top: 0;
    }

    .footer__nav {
        width: 50%;
        margin-bottom: 4px;
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 36px;
    }

    .logo-footer {
        display: block;
    }

    .footer-donate-block {
        gap: 32px;
    }
}

@media (max-width: 639px) {

    .container {
        width: 300px;
    }

    .burger {
        margin: 4px 0px 0px 164px;
    }

    .header {
        position: fixed;
        width: 100%;
        height: 34px;
    }

    .footer {
        padding: 18px 0 20px 0;
    }

    .footer-block {
        position: relative;
        gap: 28px;
    }

    .footer-donate-block {
        justify-content: center;
        gap: 86px;
        width: 100%;
    }

    .logo-footer {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 128px;
        height: 25;
        margin-left: 85px;
    }

    .footer-socials-block {
        position: absolute;
        top: 56px;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        width: 100%;
    }

    .footer__nav {
        order: 10;
        width: 100%;
    }

    .footer__nav .nav {
        margin-left: -7px;
    }

    .footer-designed-block {
        align-items: flex-end;
        width: 100%;
        font-size: 15px;
    }

    .nav__list {
        width: 300px;
        padding-left: 10px;
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 30px;
    }

    .footer-designed-block {
        padding-right: 8px;
    }
}

/*----------------------------------------js-classes----------------------------------------*/

.burger-open {
    left: 0;
}

.burger-x {
    background-image: url(../icons/burger_opened.svg);
}

.logo-fader {
    opacity: 0;
    pointer-events: none;
}

.page-fader {
    opacity: 1;
}

.displayed {
    pointer-events: all;
}