:root {
    --green: #4B9200;
    --orange: #F9804B;
    --yellow: #FFEE2E;
    --black_blue: #333B41;
    --white: #FDFDFF;
    --gray: #767474;
    --smoky_gray: #ABABAB;
    --light_gray: #F1F3F2;
    --dark-orange-gr: linear-gradient(113.96deg, #E47209, #E47209 101.44%);
    --orange-gr: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --pink_gr: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --red: #D31414;
}

body,
html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black_blue);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.footer {
    background-color: #111115;
    color: #fff;
    text-align: center;
}

.container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    z-index: 500;
    height: 80px;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: -80px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__block {
    display: flex;
    gap: 63px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    font-weight: 500;
}

.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: flex-start;
}

.nav__item:not(:last-child) {
    margin-right: 48px;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 7px;
}

.nav__link:active,
.current-page {
    text-decoration: none;
    color: var(--orange);
    user-select: none;
}

.logo img {
    width: 82px;
    height: 52px;
}

.designed {
    padding-left: 438px;
}

.button {
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: var(--orange-gr);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background: var(--dark-orange-gr);
    transform: scale(1.05);
}