body {
    margin: 0;
    text-align: center;
}

h2 {
    margin-top: 0;
    padding-top: 15%;
    font-family: "Roboto", sans-serif;
    font-size: 98px;
    color: #333B41;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../assets/images/desktop_donate.jpg);
    opacity: 0.5;
}