h2,
h3 {
    color: var(--orange);
}


.hero-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/panda-donate.jpg);
    margin-top: 75px;
    height: 392px;
}

.subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 9px;
}

.donate {
    background: var(--light-orange_gr);
}


.donate-block {
    display: flex;
    flex-direction: column;
    padding: 40px 0 180px 0;
}

.donate-block h3 {
    text-align: start;
}

.donate-block h2 {
    text-align: center;
    padding-right: 12px;
}

.donate-group {
    color: #FFFFFF;
}

.donate-text {
    line-height: 140%;
    margin-bottom: 47px;
    padding-right: 5px;
    font-weight: 500;
}

.donate-block__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 92px 62px 92px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin-top: 22px;
}

.donate-block__form h4 {
    margin-top: 12px;
}

.diet-days {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin: 48px 16px 37px 0;
}

.diet-days-group {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 57px;
}

.diet-days-number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.diet-days-multiply {
    width: 14px;
    height: 14px;
    background-image: url(../assets/icons/x_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 47px;
    margin-top: 30px;
}

.diet-days-animal-icon {
    width: 284px;
    height: 246px;
    background-image: url(../assets/icons/panda.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.donate-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}

.donate-scale-bg {
    height: 27px;
    background: #404950;
    border-radius: 2px;
}

.donate-scale-line {
    margin: 12px 35px 0 31px;
    height: 2px;
    background: #72828E;
}

.donate-scale-steps {
    z-index: 200;
    display: flex;
    justify-content: space-between;
    margin: -6px 30px 0 26px;
}

.donate-scale-steps li {
    width: 10px;
    height: 10px;
    background: var(--yellow);
    border-radius: 50%;
    transition: 0.2s;
}

.current-step {
    position: relative;
    outline: 2px solid var(--orange);
    outline-offset: 5px;
}

.current-step::after {
    position: absolute;
    left: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    outline: 2px solid var(--orange);
    outline-offset: 13px;
}

.amount3 {
    color: var(--orange);
}

input[type="range"] {
    height: 2px;
    margin: -40px 24.55px 0 20.5px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}

.donation-amounts-group {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 30px 0;
}

.donation-amount {
    display: flex;
    align-items: flex-end;
    width: 69px;
}

.donation-amount div {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 26px;
    line-height: 80%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--black-blue);
}


.donation-block {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
}

.donation-block-container {
    position: relative;
}

input[type="number"] {
    width: 267px;
    height: 54px;
    padding: 0 30px 0 9px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"]:invalid {
    color: var(--red);
    border: 1px solid var(--red);
}

input[type="number"]:invalid+label {
    color: var(--red);
}

input[type="number"]:focus:valid {
    color: var(--green);
    border: 1px solid var(--green);
}

input[type="number"]:focus:valid+label {
    color: var(--green);
}

.donation-input {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 21px;
    margin: 0 12px 5px 0;
}

.dollar-sign {
    position: absolute;
    top: 15px;
    right: 7px;
    font-size: 20px;
    font-weight: bold;
    color: #929699;
}

.donation-period-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 21px;
    margin: 0 12px 5px 0;
}

.donation-period {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="radio"],
.feed-days-period-item:hover label {
    cursor: pointer;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    left: 0px;
    top: 2px;
    border: 1px solid var(--orange);
    background-color: transparent;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked {
    border: 1px solid var(--green);
    background-color: var(--green);
}

.donation-form-btn {
    align-self: center;
    margin: 0 0 20px 5px;
}

.donation-caption {
    margin-left: 5px;
    text-align: center;
    color: var(--black-blue);
}

@media (max-width: 1440px) {

    .hero-container {
        height: 396px;
    }

    .donate {
        padding-bottom: 29px;
    }

    .donate-block {
        padding-bottom: 0px;
    }

    .donate-block h4 {
        margin-bottom: 29px;
        padding-right: 100px;
    }

    .donate-block p {
        margin-bottom: 46px;
        padding-right: 6px;
    }

    .donate-block h3 {
        margin-bottom: 40px;
    }

    .donate-block__form {
        gap: 10px;
        padding: 20px 48px 45px 49px;
        margin-top: 0;
    }

    .donate-block__form h2 {
        margin: 0 4px 1px 0;
        text-align: center;
    }

    .donate-block__form h4 {
        margin-top: 0px;
        padding-right: 0px;
    }

    .diet-days {
        gap: 16px;
        margin: 20px 14px 37px 0;
    }

    .diet-days-text {
        padding-bottom: 5px;
    }

    .donate-form {
        padding: 0 16px;
    }

    .donate-scale-steps {
        margin: -6px 10px 0 11.5px;
    }

    .feed-days-range-line {
        margin: 12px 13px 0 13px;
        height: 2px;
        background: #72828E;
    }

    input[type="range"] {
        margin: -40px 4.5px 0 6.4px;
    }

    .footer-email-block {
        padding-right: 30px;
    }

    @media (max-width: 980px) {
        .hero-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../assets/images/panda-donate.jpg);
            margin-top: 30px;
            height: 340px;
        }

        .donate {
            padding-bottom: 46px;
        }

        .donate-block {
            padding-top: 30px;
            padding-bottom: 0px;
        }

        .donate-block h4 {
            margin-bottom: 18px;
            padding-right: 0px;
            font-size: 24px;
            line-height: 120%;
        }

        .donate-block p {
            margin-bottom: 30px;
            padding-right: 0;
        }

        .donate-block h3 {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .donate-block__form {
            padding: 30px 0 31px 0;
            text-align: center;
        }

        .donate-block__form h2 {
            margin-bottom: 11px;
            text-align: center;
            padding: 0;

        }

        .donate-amount-text {
            padding-left: 10px;
            margin-top: -6px;
            text-align: start;
            color: #000000;
        }

        .donate-form {
            gap: 25px;
            padding: 0;
            margin-top: 0px;
        }

        .donate-scale-bg {
            margin-top: -3px;
        }

        .donate-scale-steps {
            margin: -6px 35px 0 35px;
        }

        .scale-step1,
        .scale-step2,
        .scale-step3 {
            display: none;
        }

        .donation-amounts-group {
            margin-left: 13px;
        }

        .amount1,
        .amount2,
        .amount3 {
            display: none;
        }

        .feed-days-range-line {
            margin: 12px 37px 0 37px;
        }

        .donation-period-group {
            margin: 8px 19px 0 0;
            gap: 50px;
        }

        .donation-form-btn {
            margin: 5px 0 19px 0;
        }

        .donation-caption {
            margin-left: 0;
        }

        input[type="range"] {
            margin: -40px 30px 0 29px;
        }

        input[type="number"] {
            width: 180px;
            height: 42px;
        }
    }
}